[user]
	name = CarlosAMolina 
	email = 15368012+CarlosAMolina@users.noreply.github.com
[includeIf "gitdir:~/Software/job/"]
    path = ~/.gitconfig-job
[merge]
	tool = meld
[init]
	defaultBranch = main
[core]
	editor = vi
[pull]
	rebase = false
